@import 'tailwindcss';

@theme {
  --width-2\/3vw: 66.6666vw;
  --width-1\/2vw: 50vw;

  --height-1\/2vh: 50vh;

  --container-1\/3: 33.33333%;
  --container-1\/2: 50%;
  --container-2\/3: 66.66666%;
  --container-3\/4: 75%;
  --container-1\/3vw: 33.33333vw;
  --container-1\/2vw: 50vw;
  --container-2\/3vw: 66.66666vw;
  --container-3\/4vw: 75vw;

  --max-height-1\/3: 33.33333%;
  --max-height-1\/2: 50%;
  --max-height-2\/3: 66.66666%;
  --max-height-3\/4: 75%;
  --max-height-1\/3vh: 33.33333vh;
  --max-height-1\/2vh: 50vh;
  --max-height-2\/3vh: 66.66666vh;
  --max-height-3\/4vh: 75vh;

  --animate-hover: hover 5s ease-in-out infinite;
  --animate-hover-slow: hover 10s ease-in-out infinite;
  --animate-hover-large: hover-large 10s ease-in-out infinite;

  --animate-spin: spin 240s linear infinite;
  --animate-spin-reverse: spin-reverse 240s linear infinite;

  @keyframes hover {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes hover-large {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(25px);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #e8e9d5;
  }

  .font-outline-3 {
    -webkit-text-stroke: 3px #e8e9d5;
  }
}

body {
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  overflow-x: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from, .slide-fade-leave-to {
  transform: translateY(200px);
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #20152c;
    background-color: #e8e9d5;
  }
  a:hover {
    color: #747bff;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px #323232;
  }

  .font-outline-3 {
    -webkit-text-stroke: 3px #323232;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e8e9d5;
    background-color: #20152c22;
  }
  a:hover {
    color: #747bff;
  }
}